.navbar-brand img {
  width: 50px;
}
.item-item img {
  width: 50px;
}
.main-header {
  padding-top: 105px;
}
.brand-icon img {
  width: 60px;
}
.container-bangGia {
  padding-top: 50px;
}
.container-suKien {
  padding-top: 70px;
}
.container-lienHe {
  padding-top: 70px;
}
