.navbar-brand img {
  width: 50px;
  margin-left: 0;
}
@media (min-width: 992px) {
  .navbar-brand img {
    margin-left: 50px; /* Áp dụng cho laptop trở lên */
  }
}
.item-item img {
  width: 50px;
}
.main-header {
  padding-top: 105px;
}
.brand-icon img {
  width: 60px;
}
.container-bangGia {
  padding-top: 50px;
}
.container-suKien {
  padding-top: 70px;
}
.container-lienHe {
  padding-top: 70px;
}
.layout {
  padding-top: 70px;
  z-index: 1;
}
.container-footer{
  margin: auto;
  z-index: 2;
  position: relative;
}

