<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dự án đặt sân Pickleball</title>
    <!-- cs bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- my style -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>
  <body class="bg-light">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-info-subtle border-bottom small fixed-top">
      <div class="container-fluid">
        <!-- navbar-brand -->
        <a class="navbar-brand" href="index">
          <img src="./img/logo.png" alt="Pickleball" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- menu -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index"
                >Trang chủ</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="bangGia">Bảng giá</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="suKien">Sự kiện </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="lienHe">Liên hệ</a>
            </li>
          </ul>
          <!-- form -->
          <form class="d-flex" role="search">
            <input
              class="form-control form-control-sm me"
              type="search"
              placeholder="Tìm kiếm"
              aria-label="Search"
            />
            <button class="btn btn-success btn-sm" type="submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16px"
                height="16px"
                viewBox="0 0 512 512"
              >
                <path
                  fill="#ffffff"
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                />
              </svg>
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- header start -->
    <header class="main-header pb-5 border-bottom ">
      <div class="container">
        <div class="row align-items-center gx-md-5">
          <div class="col-md-6">
            <h1 class="fs-3 fw-bold">Chào mừng bạn đến với PickleHub điểm đến lý tưởng cho những ai yêu thích bộ môn Pickleball.</h1>
            <h2 class="fs-3 fw-normal">📍 Vị trí thuận tiện.</h2>
            <h3 class="fs-3 fw-normal">🌿 Không gian mở.</h3>
            <h4 class="fs-3 fw-normal">💡 Đặt sân linh hoạt.</h4>
            <p class="fw-light">PickleHub – "Đặt sân nhanh chóng – chơi vui hết mình"</p>
             <!-- ======================================================= -->
          </div>
          <div class="col-md-6 mt-2 mt-md-0">
            <div>
              <img class="rounded w-100" src="./img/main-header.png" alt= "">
            </div>
          </div>
      </div>
    </header>
    <!-- Home -->
    <section class="py-4 border-bottom">
      <div class="container">
        <div class="row">
          <!-- item -->
            <div class="col-md-4">
              <div class="item-item border rounded p-3 d-flex align-items-center bg-white">
                  <div>
                    <img src="./img/clock.png" alt="">
                  </div>
                  <div class="ms-2">
                    <h5 class="fs-5">Đặt sân</h5>
                    <p class="small text-secondary">Dễ dàng chọn giờ chơi và sân theo nhu cầu cá nhân, tiết kiệm thời gian và chủ động hơn trong việc lên lịch</p>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item-item border rounded p-3 d-flex align-items-center bg-white mt-2 mt-md-0">
                  <div>
                    <img src="./img/responsive.png" alt="">
                  </div>
                  <div class="ms-2">
                    <h5 class="fs-5">Sản phẩm</h5>
                    <p class="small text-secondary">Chúng tôi cung cấp các dụng cụ pickleball cao cấp cho cả người mới bắt đầu và các tay chơi chuyên nghiệp.</p>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item-item border rounded p-3 d-flex align-items-center bg-white mt-2 mt-md-0">
                  <div>
                    <img src="./img/tick.png" alt="">
                  </div>
                  <div class="ms-2">
                    <h5 class="fs-5">Hỗ trợ</h5>
                    <p class="small text-secondary">Dịch vụ tư vấn và hỗ trợ tận tâm, giúp bạn có được trải nghiệm tốt nhất khi sử dụng sản phẩm và dịch vụ của chúng tôi.</p>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!-- Bảng giá -->
     <section class="py-4 border-bottom ">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <div class="text-md-center">
              <h6 class="fs-5">Khám Phá Các Loại Sân Pickleball Phù Hợp Mọi Nhu Cầu  Từ Cơ Bản Đến Cao Cấp</h6>
            </div>
          </div>
        </div>
        <!-- row -->
         <div class="row mt-4">
          <!-- ///===================================== ///-->
          <div class="col-md-9">
            <div class="list-group small">
              <!-- ================================ -->
              <div class="list-group-item d-flex justify-content-between text-bg-light fw-bold">
                Danh sách các loại sân
                <span class="badge rounded-pill text-bg-warning">5</span>
              </div>
                <!-- ================================ Loại sân-->
                 <a href="hi" class="list-group-item list-group-item-action">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      <div>
                        <img src="./img/sanVip.png" alt="" class="rounded img-fluid">
                      </div>
                    </div>
                    <!-- ================================ -->
                    <div class="col-md-8">
                      <h5>Sân Pickleball VIP</h5>
                      <p class="text-secondary mb-0">Bề mặt: Nhựa acrylic chất lượng cao, giảm chấn tốt cho khớp.</p>
                      <p class="text-secondary mb-0">Trang bị: Lưới cao cấp và cột inox, hệ thống đèn chiếu sáng ban đêm, mái che (một phần hoặc toàn phần).</p>                                              
                      <p class="text-secondary mb-0">Tiện ích: Ghế ngồi êm, khu vực chờ có điều hòa hoặc quạt mát, phòng tắm, quầy nước uống, WiFi.</p>                       
                      <p class="text-secondary">Đối tượng: Trung tâm thể thao cao cấp, khách VIP, giải đấu.</p>                                                                                        
                      <div class="d-inline-flex align-items-center">
                        <span class="px-2 py-1 rounded-pill text-bg-warning me-2 d-inline-flex align-items-center"> 
                          Đánh giá: 5.0
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill ms-2" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                        </span>
                        <span  class="px-2 py-1 rounded-pill text-bg-success"> 
                          Giá: 
                        </span>
                      </div>
                    </div>
                  </div>
                 </a>
                 <a href="hi" class="list-group-item list-group-item-action">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      <div>
                        <img src="./img/sanNha.png" alt="" class="rounded img-fluid">
                      </div>
                    </div>
                    <!-- ================================ -->
                    <div class="col-md-8">
                      <h5>Sân Pickleball Trong Nhà</h5>
                      <p class="text-secondary mb-0">Bề mặt: Gỗ công nghiệp hoặc nhựa tổng hợp chuyên dụng.</p>
                      <p class="text-secondary mb-0">Ưu điểm: Không bị ảnh hưởng thời tiết, ánh sáng ổn định.</p>                                              
                      <p class="text-secondary mb-0">Trang bị: Hệ thống điều hòa, đèn LED, tường chắn bóng.</p>                       
                      <p class="text-secondary">Đối tượng: Mọi đối tượng.</p>                                                                                        
                      <div class="d-inline-flex align-items-center">
                        <span class="px-2 py-1 rounded-pill text-bg-warning me-2 d-inline-flex align-items-center"> 
                          Đánh giá: 5.0
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill ms-2" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                        </span>
                        <span  class="px-2 py-1 rounded-pill text-bg-success"> 
                          Giá: 
                        </span>
                      </div>
                    </div>
                  </div>
                 </a>
                 <a href="hi" class="list-group-item list-group-item-action">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      <div>
                        <img src="./img/sanNgoaiTroi.png" alt="" class="rounded img-fluid">
                      </div>
                    </div>
                    <!-- ================================ -->
                    <div class="col-md-8">
                      <h5>Sân Pickleball Ngoài Trời</h5>
                      <p class="text-secondary mb-0">Phong cách: Thiết kế hài hòa với thiên nhiên.</p>
                      <p class="text-secondary mb-0">Mục tiêu: Vừa thể thao, vừa thư giãn.</p>                                              
                      <p class="text-secondary mb-0">Trang bị: Sàn chống thấm, ghế nghỉ, cảnh quan cây xanh, đèn trang trí.</p>                       
                      <p class="text-secondary">Đối tượng: Mọi đối tượng.</p>                                                                                        
                      <div class="d-inline-flex align-items-center">
                        <span class="px-2 py-1 rounded-pill text-bg-warning me-2 d-inline-flex align-items-center"> 
                          Đánh giá: 4.9
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill ms-2" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                        </span>
                        <span  class="px-2 py-1 rounded-pill text-bg-success"> 
                          Giá: 
                        </span>
                      </div>
                    </div>
                  </div>
                 </a>
                 <a href="hi" class="list-group-item list-group-item-action">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      <div>
                        <img src="./img/sanTieuChuan.png" alt="" class="rounded img-fluid">
                      </div>
                    </div>
                    <!-- ================================ -->
                    <div class="col-md-8">
                      <h5>Sân Pickleball Tiêu Chuẩn</h5>
                      <p class="text-secondary mb-0">Kích thước: 6.1m x 13.41m (theo tiêu chuẩn USA Pickleball)</p>
                      <p class="text-secondary mb-0">Bề mặt: Xi măng hoặc nhựa acrylic.</p>                                              
                      <p class="text-secondary mb-0">Lưới: Lưới tiêu chuẩn cao 86.4cm ở hai đầu và 91.4cm ở giữa.</p>                       
                      <p class="text-secondary">Đối tượng: Mọi đối tượng.</p>                                                                                        
                      <div class="d-inline-flex align-items-center">
                        <span class="px-2 py-1 rounded-pill text-bg-warning me-2 d-inline-flex align-items-center"> 
                          Đánh giá: 4.7
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill ms-2" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                        </span>
                        <span  class="px-2 py-1 rounded-pill text-bg-success"> 
                          Giá: 
                        </span>
                      </div>
                    </div>
                  </div>
                 </a>
                 <a href="hi" class="list-group-item list-group-item-action">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      <div>
                        <img src="./img/sanThuong.png" alt="" class="rounded img-fluid">
                      </div>
                    </div>
                    <!-- ================================ -->
                    <div class="col-md-8">
                      <h5>Sân Pickleball Thường</h5>
                      <p class="text-secondary mb-0">Bề mặt: Xi măng hoặc asphalt phủ lớp sơn chống trượt.</p>
                      <p class="text-secondary mb-0">Trang bị: Lưới tiêu chuẩn, không có mái che, không có ánh sáng ban đêm.</p>                                              
                      <p class="text-secondary mb-0">Tiện ích: Không hoặc ít tiện nghi</p>                       
                      <p class="text-secondary">Đối tượng: Câu lạc bộ cộng đồng, sân trường, khu dân cư.</p>  
                      <div class="d-inline-flex align-items-center">
                        <span class="px-2 py-1 rounded-pill text-bg-warning me-2 d-inline-flex align-items-center"> 
                          Đánh giá: 4.5
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill ms-2" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                        </span>
                        <span  class="px-2 py-1 rounded-pill text-bg-success"> 
                          Giá: 
                        </span>
                      </div>
                    </div>
                  </div>
                 </a>
                <!-- ================================ Loại sân-->
            </div>
          </div>
          <!--/// ====================================== ///-->
          <div class="col-md-3">
            <div class="list-group small mb-3">
              <div class="list-group-item text-bg-light fw-bold">Giá dịch vụ đi kèm</div>
              <a class="list-group-item d-flex justify-content-between" href="#!">item1
                <span class="badge rounded-pill text-bg-warning">14</span>
              </a>
              <a class="list-group-item d-flex justify-content-between" href="#!">item2
                <span class="badge rounded-pill text-bg-warning">1</span>
              </a>
            </div>
            <div class="list-group small mb-3 mb-md-0">
              <div class="list-group-item text-bg-light fw-bold">Ưu đãi và gói thành viên</div>
              <a class="list-group-item d-flex justify-content-between" href="#!">item1
                <span class="badge rounded-pill text-bg-warning">14</span>
              </a>
              <a class="list-group-item d-flex justify-content-between" href="#!">item2
                <span class="badge rounded-pill text-bg-warning">1</span>
              </a>
              <a class="list-group-item d-flex justify-content-between" href="#!">item3
                <span class="badge rounded-pill text-bg-warning">1</span>
              </a>
            </div>
          </div>
          <!-- ====================================== -->
         </div>

      </div>
     </section>
     <!-- footer -->
      <footer class=" bg-info-subtle py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="brand-icon">
                <img src="./img/logo.png" alt="">
              </div>
              <address class="small fw-bold">
                📍 123 Nguyễn Văn Cừ, Quận 2, TP.HCM<br>
                ⏰ 7:00 - 22:00<br>
                📞 0999 123 456<br> 
                ✉️ PickleHub@gmail.com
              </address>
            </div>
            <div class="col-md-2 mt-4">
              <h1 class="small fw-bold">Danh mục</h1>
              <ul class="list-unstyled small">
                <li><a class="text-decoration-none" href="">Trang chủ</a></li>
                <li><a class="text-decoration-none" href="">Bảng giá</a></li>
                <li><a class="text-decoration-none" href="">Đặt sân</a></li>
                <li><a class="text-decoration-none" href="">Liên hệ</a></li>
              </ul>
            </div>
            <div class="col-md-2 mt-4">
              <h1 class="small fw-bold">Thông tin hỗ trợ</h1>
              <ul class="list-unstyled small">
                <li><a class="text-decoration-none" href="">Tin tức</a></li>
                <li><a class="text-decoration-none" href="">Hướng dẫn đặt sân</a></li>
              </ul>
            </div>
            <div class="col-md-5 mt-4">
              <div>
                <a href="" class="btn btn-sm btn-primary rounded-pill d-inline-flex align-items-center mb-2">
                  <svg xmlns="http://www.w3.org/2000/svg" 
                  width="16" 
                  height="16" 
                  fill="currentColor" 
                  class="bi bi-facebook me-md-2" 
                  viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                  </svg>
                  <span class="d-md-block d-none">Facebook</span>
                </a>
                <a href="" class="btn btn-sm btn-warning rounded-pill d-inline-flex align-items-center mb-2">
                  <svg xmlns="http://www.w3.org/2000/svg" 
                  width="16" 
                  height="16" 
                  class="bi bi-Instagram me-md-2"
                  viewBox="0 0 448 512">
                  <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
                  <span class="d-md-block d-none">Instagram</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <!-- js bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
